<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluaciones</title>
    <link rel="stylesheet" href="/empleado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Incluir SweetAlert2 -->

</head>

<body>
    <% if (user && user.rol === 'Administrador') { %>
        <nav><%- include('../partials/navbar') %> </nav>
    <% } else if (user && user.rol === 'Intermediario') { %>
        <nav><%- include('../partials/navbarInter') %> </nav>
    <% } %>

        <!-- Panel principal -->
        <main class="main-content">
            <header class="header">
                <div class="user-section">
                    <img src="<%= intermediario.imagePath ? '/' + intermediario.imagePath : '/img/user.png' %>" alt="Empleado" class="user-img">
                    <div class="user-info">
                        <h2><%= intermediario.nombre %>  <%= intermediario.apellido %></h2>
                        <p>Intermediariop>
                        <p>Número de legajo: <%= intermediario.legajo %> | DNI: XXXX</p>
                    </div>
                </div>

                <div class="combobox-container">

                    <form id="deleteRegs" method="POST" action="/reguladores/eliminar/<%= intermediario._id %>" style="display:none;">
                    </form>
                    
                    <!-- Button to trigger the form submission -->
                    <% if (user && user.rol === 'Administrador') { %>
                        <button class="btn-disable" onclick="popupEliminar('<%= intermediario %>')">Desactivar</button>
                    <% } %>
                    <label for="employee-options">Designar como:</label>
                    <select id="employee-options">
                        <option value="option1">Empleado regular</option>
                        <option value="option2">Evaluador</option>
                        <option value="option3">Intermediario</option>
                    </select>
                </div>
                
                    <%- include('../partials/headerU') %>
            </header>

            <div class="filter-panel-container">
                <section class="evaluation-section">
                    <h2>Evaluaciones por revisar</h2>

                    <% for (evaluacion of evaluaciones) {%>
                        <div class="evaluation-card">
                            <img src="<%= evaluacion.empleado.imagePath ? '/' + intermediario.imagePath : '/img/user.png' %>" alt="Empleado" class="eval-img">
                            <div class="eval-info">
                                <p><strong><%= intermediario.nombre %>  <%= intermediario.apellido %></strong></p>
                                <p>Fecha Inicio: 34/11/56 | Fecha Fin: 34/11/56</p>
                                <p class="eval-status">Autoevaluación</p>
                            </div>
                        </div>
                    <% } %>

                </section>

                <aside class="right-panel">
                    <div class="filter-section">
                        <h3>Estado de empleado</h3>
                        <button class="btn-disable" onclick="popupEliminar('<%= empleado._id %>')">Desactivar</button>
                        <br>
                        <br>
                        <select id="employee-options">
                            <option value="" disabled selected>Designar como...</option>
                            <option value="option1">Empleado regular</option>
                            <option value="option2">Evaluador</option>
                            <option value="option3">Intermediario</option>
                            <br>
                        </select>
                        <button class="check-btn" title="Confirmar designación">
                            &#10004;
                        </button>
                        <br>
                        <select class="filter-select">
                            <option value="" disabled selected>Filtrar por...</option>
                            <option value="periodo">Periodo</option>
                            <option value="mastomenos">Legajo mayor a menor</option>
                            <option value="menostomas">Legajo menor a mayor</option>
                            <option value="name">Nombre</option>
                        </select>
                    
                        <div class="status-buttons">
                            <div class="status-button pending">
                                <span class="red-dot"></span>
                                <span>Pendientes</span>
                                <span class="count">0</span>
                            </div>
                            <br>
                            <div class="evaluation-actions">
                                <a href="/evaluaciones/new" id="nuevaEvaluacionBtn">Evaluar</a>
                            </div>
                           
                        </div>
                    </div>
                </aside>
            </div>

            <section class="evaluation-finished">
                <h2>Evaluaciones aprobadas</h2>
                <div class="evaluation-card">
                    <img src="empleado1.jpg" alt="Franco Siccardi" class="eval-img">
                    <div class="eval-info">
                        <p><strong><%= intermediario.nombre %>  <%= intermediario.apellido %></strong></p>
                        <p>Fecha Inicio: 34/11/56 | Fecha Fin: 34/11/56</p>
                        <p>Autoevaluación</p>
                        <div class="progress-bar">
                            <div class="progress" style="width: 40%;"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script>

        function popupEliminar(empleadoId) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esta acción!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, Desactivar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = document.getElementById('deleteRegs');
                    if (form){
                        form.action = '/reguladores/eliminar/' + empleadoId
                        form.submit()
                    }else{
                        console.error('Delete form not found!');
                    }
                }
            });
        }

    </script>

</body>

</html>

