<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluadores</title>
    <link rel="stylesheet" href="/evaluadores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">
    <style>
        .notification-icon,
        .user-photo {
            position: absolute;
            right: 70px;
            top: 120px;
        }        
    </style>
</head>
</head>

<body>
    <% if (user && user.rol === 'Administrador') { %>
        <nav><%- include('../partials/navbar') %> </nav>
    <% } else if (user && user.rol === 'Evaluador') { %>
        <nav><%- include('../partials/navbarEval') %> </nav>
    <% } else if (user && user.rol === 'Intermediario') { %>
        <nav><%- include('../partials/navbarInter') %> </nav>
    <% } else { %>
        <p>Navbar error</p>
    <% } %> 

        <!-- Panel principal -->
        <main class="main-content">
            <header class="notificacion-icon user-photo"> <%- include('../partials/headerU') %> </header>  
                <div class="search-section">
                    <form action="/evaluadores/buscar" method="GET" class="search-form">
                        <input type="text" name="query" placeholder="Buscar ..." value="<%= typeof query !== 'undefined' ? query : '' %>">
                        <button type="submit"><i class="fas fa-search search-icon"></i></button>
                    </form>             
                </div> 
       
            <section class="employee-list">
                <% if (evaluadores.length === 0) { %>
                    <p>No se encontraron empleados que coincidan con "<%= query %>".</p>
                <% } else {%>
                    <% for (empleado of evaluadores) { %>
                        <div class="employee">
                            <a href="/evaluadores/<%= empleado.id %>">
                                <img src="<%= empleado.imagePath ? '/' + empleado.imagePath : '/img/user.png' %>" alt="Empleado">
                                <div class="employee-info">
                                    <h3><%= empleado.nombre %> <%= empleado.apellido %></h3>
                                    <p>Rol: <%= empleado.rol %></p>
                                    <p>Legajo: <%= empleado.legajo %></p>
                                </div>
                            </a>  
                        </div>
                    <% } %> 
                <% } %> 
            </section>
        </main>
    </div>

    <script>
        // JavaScript para mostrar/ocultar el submenú
        const dropdownBtn = document.querySelector('.dropdown-btn');
        const dropdownContainer = document.querySelector('.dropdown-container');

        dropdownBtn.addEventListener('click', function(e) {
            e.preventDefault();
            dropdownContainer.classList.toggle('active');
        });
    </script>
</body>
</html>
