<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluaciones</title>
    <link rel="stylesheet" href="/empleado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">

</head>

<body>
    <nav> <%- include('../partials/navbar') %> </nav>

        <!-- Panel principal -->
        <main class="main-content">
            <header class="header">
                <div class="user-section">
                    <img src="/img/user.png" alt="Empleado" class="user-img">
                    <div class="user-info">
                        <h2><%= evaluador.nombre %>  <%= evaluador.apellido %></h2>
                        <p>Evaluador</p>
                        <p>Número de legajo: <%= evaluador.legajo %> | DNI: XXXX</p>
                    </div>
                </div>

                <div class="combobox-container">
                    <form id="deleteEvalrs" method="POST" action="/evaluadores/eliminar/<%= evaluador._id %>" style="display:none;">
                    </form>
                    
                    
                    <button class="btn-disable" onclick="popupEliminar('<%= evaluador._id %>')">Desactivar</button>

                    
                    

                    <label for="employee-options">Designar como:</label>
                    <select id="employee-options">
                        <option value="option1">Empleado regular</option>
                        <option value="option2">Evaluador</option>
                        <option value="option3">Intermediario</option>
                    </select>
                </div>
                
                <!--<div class="header-options">
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-cog"></i>
                    <img src="/img/profile.png" alt="Carina Campo" class="profile-img">
                </div>-->

                    <%- include('../partials/headerU') %>
            </header>

            <div class="filter-panel-container">
                <section class="evaluation-section">
                    <h2>Evaluaciones por revisar</h2>
                    <div class="evaluation-card">
                        <img src="empleado1.jpg" alt="Franco Siccardi" class="eval-img">
                        <div class="eval-info">
                            <p><strong><%= evaluador.nombre %>  <%= evaluador.apellido %></strong></p>
                            <p>Fecha Inicio: 34/11/56 | Fecha Fin: 34/11/56</p>
                            <p class="eval-status">Autoevaluación</p>
                        </div>
                    </div>

                    <div class="evaluation-card">
                        <img src="empleado1.jpg" alt="Franco Siccardi" class="eval-img">
                        <div class="eval-info">
                            <p><strong><%= evaluador.nombre %>  <%= evaluador.apellido %></strong></p>
                            <p>Fecha Inicio: 34/11/56 | Fecha Fin: 34/11/56</p>
                            <p class="eval-status">Evaluación de Análisis</p>
                        </div>
                    </div>
                </section>

                <aside class="right-panel">
                    <div class="filter-section">
                        <h3>Filtrar por</h3>
                        <select class="filter-select">
                            <option value="periodo">Periodo</option>
                        </select>
                        <div class="filter-order">
                            <label><span class="blue-dot"></span> Más reciente</label>
                            <label><span class="yellow-dot"></span> Más antigua</label>
                        </div>
                        <div class="status-buttons">
                            <div class="status-button pending">
                                <span class="red-dot"></span>
                                <span>Pendientes</span>
                                <span class="count">0</span>
                            </div>
                            <div class="status-button evaluate">
                                <span class="green-dot"></span>
                                <span>Evaluar</span>
                                <span class="triangle"></span>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

            <section class="evaluation-finished">
                <h2>Evaluaciones Finalizadas</h2>
                <div class="evaluation-card">
                    <img src="empleado1.jpg" alt="Franco Siccardi" class="eval-img">
                    <div class="eval-info">
                        <p><strong><%= evaluador.nombre %>  <%= evaluador.apellido %></strong></p>
                        <p>Fecha Inicio: 34/11/56 | Fecha Fin: 34/11/56</p>
                        <p>Autoevaluación</p>
                        <div class="progress-bar">
                            <div class="progress" style="width: 40%;"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script>
        function popupEliminar(empleadoId) {

            const form = document.getElementById('deleteEvalrs')

            if (form && confirm('estas seguro')){
                form.action = '/evaluadores/eliminar/' + empleadoId
                form.submit()
            }else{}
        }
    </script>
</body>

</html>

