<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluadores</title>
    <link rel="stylesheet" href="/evaluadores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <nav> <%- include('../partials/navbar') %> </nav>

        <!-- Panel principal -->
        <main class="main-content">
            <header class="header">
                <h1>Evaluadores</h1>
                <div class="user-info">
                    <h2>Carina Campo</h2>
                    <p>Rol: Recursos Humanos</p>
                </div>
            </header>

            <div class="combobox-container">
                <label for="employee-options">Designar como:</label>
                <select id="employee-options">
                    <option value="option1">Empleado regular</option>
                    <option value="option2">Evaluador</option>
                    <option value="option3">Intermediario</option>
                </select>
            </div>
            
            <!-- Sección de búsqueda -->
            <div class="search-section">
                <input type="text" placeholder="Buscar Evaluadores...">
                <i class="fas fa-search search-icon"></i>
            </div>

            <section class="employee-list">
                <% for (empleado of arrayEvaluadores) { %>
                    <div class="employee">
                        <img src="empleado1.jpg" alt="Empleado">
                        <div class="employee-info">
                            <h3><%= empleado.nombre %> <%= empleado.apellido %></h3>
                            <p>Rol: <%= empleado.rol %></p>
                            <p>Legajo: <%= empleado.legajo %></p>
                        </div>
                    </div>
                <% } %>               
            </section>
        </main>
    </div>

    <script>
        // JavaScript para mostrar/ocultar el submenú
        const dropdownBtn = document.querySelector('.dropdown-btn');
        const dropdownContainer = document.querySelector('.dropdown-container');

        dropdownBtn.addEventListener('click', function(e) {
            e.preventDefault();
            dropdownContainer.classList.toggle('active');
        });
    </script>
</body>
</html>
