<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Evaluaciones</title>
    <link rel="stylesheet" href="evaluaciones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">
    <style>
        .notification-icon, .user-photo { position: absolute; right: 50px; top: 100px; }
       .busqueda {
    width: 100%; /* Aseguramos que ocupe el ancho total de su contenedor */
    margin: 20px 0; /* Espacio superior e inferior para evitar superposición */
}

.busqueda input {
    width: 100%;
    padding: 12px 15px; /* Eliminado el espacio de 45px reservado para el icono */
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 25px;
    transition: width 0.3s ease;
    height: 50px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

    </style>
</head>

<body>
    <% if (user && user.rol === 'Administrador') { %>
        <nav><%- include('../partials/navbar') %></nav>
    <% } else if (user && user.rol === 'Evaluador') { %>
        <nav><%- include('../partials/navbarEval') %></nav>
    <% } else if (user && user.rol === 'Intermediario') { %>
        <nav><%- include('../partials/navbarInter') %></nav>
    <% } else if (user && user.rol === 'Empleado') { %>
        <nav><%- include('../partials/navbarUser') %></nav>
    <% } else { %>
        <p>Navbar error</p>
    <% } %>

    <main class="main-content">
        <header class="header notificacion-icon user-photo">
            <%- include('../partials/headerU') %>
        </header>

        <div class="filter-panel-container">
            <section id="evaluaciones-asignadas" class="evaluation-section">
                <h2>Evaluaciones Asignadas</h2>
                <% 
                const pendingAutoevaluations = evaluaciones
                    .filter(evaluacion => evaluacion.formulario.tipo === 'autoevaluacion' && !evaluacion.completed)
                    .sort((a, b) => new Date(b.deadline) - new Date(a.deadline)); 
                %>
                <% if (user && (user.rol == 'Empleado' || user.rol == 'Administrador' || user.rol == 'Intermediario' || user.rol == 'Evaluador')) { %>
                    <% evaluaciones.forEach(evaluacion => { %>
                        <% if (evaluacion.formulario.tipo === 'autoevaluacion'&& String(evaluacion.empleado._id) === String(user._id) && evaluacion.completed != true) { %>
                            <div class="evaluation-card">
                                <img src="empleado1.jpg" class="eval-img">
                                <div class="eval-info">
                                    <p><strong><%= evaluacion.empleado ? evaluacion.empleado.nombre : 'Empleado no asignado' %></strong></p>
                                    <p>Fecha Inicio: <%= evaluacion.fechaInicio ? evaluacion.fechaInicio.toDateString() : 'N/A' %> | Fecha Fin: <%= evaluacion.deadline ? evaluacion.deadline.toDateString() : 'Sin fecha' %></p>
                                    <br>
                                    <p class="eval-status"><%= evaluacion.formulario ? evaluacion.formulario.titulo : 'Formulario no asignado' %></p>
                                </div>
                                <div class="eval-summary">
                                    <a href="/evaluaciones/my-autoevaluacion/<%= evaluacion._id %>" class="btn">Responder Evaluación</a>
                                </div>
                            </div>
                        <% } %>    
                    <% }) %>
                <% } %>
                <% if (user && (user.rol == 'Administrador' || user.rol == 'Intermediario' || user.rol == 'Evaluador')) { %>
                    <% pendingAutoevaluations.forEach(evaluacion => { %>
                        <% if (user.rol == 'Administrador' || user.rol == 'Intermediario' || (user.rol == 'Evaluador' && String(evaluacion.assignedBy._id) === String(user._id))) { %>
                        <div class="evaluation-card"
                            data-tipo="<%= evaluacion.formulario.tipo %>"
                            data-empleado="<%= evaluacion.empleado ? evaluacion.empleado._id : '' %>"
                            data-assignedBy="<%= evaluacion.assignedBy ? evaluacion.assignedBy._id : '' %>">
                            
                            <img src="<%= evaluacion.empleado && evaluacion.empleado.imagePath ? '/' + evaluacion.empleado.imagePath : '/img/user.png' %>" class="eval-img">
                            <div class="eval-info">
                                <p><strong><%= evaluacion.empleado ? evaluacion.empleado.nombre + ' ' + evaluacion.empleado.apellido : 'Empleado no asignado' %></strong></p>
                                <p>Asignada por: <%= evaluacion.assignedBy ? evaluacion.assignedBy.nombre + ' ' + evaluacion.assignedBy.apellido : 'N/A' %> | Fecha Fin: <%= moment(evaluacion.deadline).format('ddd MMM DD YYYY') %></p>
                                <br>
                                <p class="eval-status"><%= evaluacion.formulario ? evaluacion.formulario.titulo : 'Formulario no asignado' %></p>
                            </div>  
                            <div class="eval-summary">
                                <!-- For roles that can view, but not answer if they are not the assigned user -->
                                <% if ((user.rol === 'Administrador' || user.rol === 'Evaluador' || user.rol === 'Intermediario') && String(evaluacion.empleado._id) !== String(user._id)) { %>
                                    <p>No Respondida</p>
                                <% } %>
                    
                                <!-- If the deadline has passed, show an alert -->
                                <% const now = new Date(); %>
                                <% if (evaluacion.deadline < now) { %>
                                    <p>La fecha límite fue superada</p>
                                <% } else if (String(evaluacion.empleado._id) === String(user._id)) { %>
                                    <!-- Only the assigned employee can answer pending evaluations -->
                                    <a href="/evaluaciones/my-autoevaluacion/<%= evaluacion._id %>" class="btn">Responder Evaluación</a>
                                <% } else { %>
                                    <p>Evaluación en espera</p>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                <% } %>
            </section>

            <% if (user && (user.rol === 'Administrador' || user.rol === 'Intermediario' || user.rol === 'Evaluador')) { %>    
                <aside class="right-panel">
                    <div class="filter-section">
                        <h3>Filtrar por</h3>
                        <select id="evaluationTypeFilter" class="filter-select" onchange="filterEvaluationType()">
                            <option value="all">Todos</option>
                            <option value="autoevaluacion">Autoevaluaciones</option>
                            <option value="evaluacion">Evaluaciones</option>
                        </select>
                        <div class="btn-evals">
                            <button id="myEvaluacionesBtn" onclick="filterMyEvaluaciones()">Mis Evaluaciones</button>
                            <button id="allEvaluacionesBtn" onclick="filterAllEvaluaciones()">Todas las Evaluaciones</button>
                        </div>
                        <br>
                        <div id ="completa" class="status-buttons">
                            <div class="status-button evaluate2">
                                <span class="green-dot"></span>
                                <span>Completas</span>
                                <span class="count2"><%= totalCompletas %></span>
                            </div>
                        </div>
                        <br>
                        <div id="incompleta" class="status-buttons">
                            <div class="status-button evaluate">
                                <span class="red-dot"></span>
                                <span>Incompletas</span>
                                <span class="count"><%= totalIncompletas %></span>
                            </div>
                        </div>
                    </div>
                    <div class="evaluation-actions">
                        <a href="/evaluaciones/new" id="nuevaEvaluacionBtn">Nueva Evaluación</a>
                    </div>
                </aside>
            <% } %>
        </div>

        <section id="evaluaciones-finalizadas" class="evaluation-finished">
            <h2>Evaluaciones Finalizadas</h2>
            <% 
            const completedEvaluations = evaluaciones
                .filter(evaluacion => evaluacion.completed)
                .sort((a, b) => new Date(b.deadline) - new Date(a.deadline));
            %>

            <% evaluaciones.forEach(evaluacion => { %>
                <% if (user && (user.rol == 'Administrador' || user.rol == 'Intermediario' || (user.rol == 'Evaluador' && String(evaluacion.assignedBy?._id) === String(user._id)) || (user.rol == 'Empleado' && String(evaluacion.empleado?._id) === String(user._id) && evaluacion.formulario.tipo == 'autoevaluacion'))) {%>
                    <% if (evaluacion.completed == true) {%>
                        <div class="evaluation-card" 
                            data-tipo="<%= evaluacion.formulario.tipo %>" 
                            data-empleado="<%= evaluacion.empleado ? evaluacion.empleado._id : '' %>" 
                            data-assignedBy="<%= evaluacion.assignedBy ? evaluacion.assignedBy._id : '' %>">
                            
                            <img src="<%= evaluacion.empleado.imagePath ? '/' + evaluacion.empleado.imagePath : '/img/user.png' %>" class="eval-img">
                            <div class="eval-info">
                                <p><strong><%= evaluacion.empleado ? evaluacion.empleado.nombre + ' ' + evaluacion.empleado.apellido : 'Empleado no asignado' %></strong></p>
                                <p>Fecha Fin: <%= moment(evaluacion.deadline).format('ddd MMM DD YYYY') %></p>
                                <br>
                                <p class="eval-status"><%= evaluacion.formulario ? evaluacion.formulario.titulo : 'Formulario no asignado' %></p>
                            </div>
                            <div class="eval-summary">
                                <p><%= evaluacion.formulario.titulo %></p>
                                <div class="eval-icons">
                                    <a href="/evaluaciones/<%= evaluacion._id %>/pdf" target="_blank">
                                        <i class="fas fa-download download-icon"></i>
                                    </a>
                                </div>
                                <a href="/evaluaciones/preview/<%= evaluacion._id %>" class="btn">Ver Evaluación</a>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% }) %>
        </section>
    </main>

    <script>
        function filterMyEvaluaciones() {
            const evaluationCards = document.querySelectorAll('.evaluation-card')
            evaluationCards.forEach(card => {
                const isAssignedToUser = card.dataset.empleado === "<%= user._id %>"
                const isAssignedByUser = card.dataset.assignedBy === "<%= user._id %>"
                
                card.style.display = (isAssignedToUser || isAssignedByUser) ? 'block' : 'none'
            })
        }

        function filterAllEvaluaciones() {
            document.querySelectorAll('.evaluation-card').forEach(card => card.style.display = 'block')
        }

        function filterEvaluationType() {
            const type = document.getElementById('evaluationTypeFilter').value
            document.querySelectorAll('.evaluation-card').forEach(card => {
                card.style.display = (type === 'all' || card.dataset.tipo === type) ? 'block' : 'none'
            });
        }
    </script>
    <script>
        document.querySelector('#completa').addEventListener('click', function() {
            document.getElementById('evaluaciones-finalizadas').scrollIntoView({ behavior: 'smooth' })
        })
    
        document.querySelector('#incompleta').addEventListener('click', function() {
            document.getElementById('evaluaciones-asignadas').scrollIntoView({ behavior: 'smooth' })
        })
    </script>
    
</body>
</html>
