<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Evaluaci贸n</title>
    <link rel="stylesheet" href="/evaluacion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">
</head>
<style>
    .notification-icon,
    .user-photo {
        position: absolute;
        right: 70px; /* Ajustado para ser similar al segundo ejemplo */
        top: 60px; /* Ajustado para ser similar al segundo ejemplo */
    }
</style>              
<body>
    <% if (user && user.rol === 'Administrador') { %>
        <nav><%- include('../partials/navbar') %> </nav>
    <% } else if (user && user.rol === 'Evaluador') { %>
        <nav><%- include('../partials/navbarEval') %> </nav>
    <% } else if (user && user.rol === 'Intermediario') { %>
        <nav><%- include('../partials/navbarInter') %> </nav>
    <% } else { %>
        <p>Navbar error</p>
    <% } %> 

    <!-- Contenedor principal -->
    <div class="main-container">
        <header class="notification-icon user-photo"> <%- include('../partials/headerU') %> </header>
        <h1 class="evaluacion-title">Evaluaci贸n: <%= evaluacion.formulario.titulo %></h1>
        
        <!-- Contenido principal de la evaluaci贸n -->
        <div class="evaluation-content">
            <h4 class="employee-info">Empleado: <%= evaluacion.empleado.nombre %> <%= evaluacion.empleado.apellido %> | <%= evaluacion.empleado.legajo %></h4>
            <h4 class="employee-info">Evaluador: <%= evaluacion.assignedBy.nombre %> <%= evaluacion.assignedBy.apellido %> | <%= evaluacion.assignedBy.legajo %></h4>
            <div class="respuestas-container">
                <% evaluacion.formulario.questions.forEach((pregunta, index) => { %>
                    <div class="form-section">
                        <p class="label">Pregunta:</p>
                        <h3 class="question-title"><%= pregunta.titulo %></h3>
                        <p class="label">Descripci贸n:</p>
                        <p class="question-description"><%= pregunta.descripcion %></p>
        
                        <div>
                            <%
                            const rawRespuesta = evaluacion.respuestas[index]; 
                            const respuesta = rawRespuesta.split(/Respuesta: |Seleccionado\(s\): /).pop().trim();
                            %>
        
                            <% if (pregunta.tipo === 'texto') { %>
                                <input class="input-text" type="text" value="<%= respuesta %>" disabled>
                            <% } else if (pregunta.tipo === 'multiple') { %>
                                <% pregunta.options.forEach(option => { %>
                                    <label class="label-option">
                                        <input type="radio" disabled <%= respuesta.includes(option) ? 'checked' : '' %>> <%= option %>
                                    </label><br>
                                <% }) %>
                            <% } else if (pregunta.tipo === 'checkbox') { %>
                                <% pregunta.options.forEach(option => { %>
                                    <label class="label-option">
                                        <input type="checkbox" disabled <%= respuesta.includes(option) ? 'checked' : '' %>> <%= option %>
                                    </label><br>
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <% if (user.rol === 'Intermediario' || user.rol === 'Administrador') { %>
            <h3 class="comentarios-titulo">Comentarios <i class="fas fa-comments"></i></h3>
            <ul class="comentarios-lista">
                <% evaluacion.comentarios.forEach(comentario => { %>
                    <li class="comentario-item">
                        <strong class="comentario-nombre"><%= comentario.intermediario.nombre %>:</strong>
                        <span class="comentario-texto"><%= comentario.texto %></span>
                    </li>
                <% }) %>
            </ul>

            <form action="/evaluaciones/<%= evaluacion._id %>/comentarios" method="POST" class="nuevo-comentario-form">
                <label for="texto" class="nuevo-comentario-label">Nuevo Comentario:</label>
                <textarea name="texto" id="texto" required class="nuevo-comentario-textarea"></textarea>
                <button class="nuevo-comentario-boton button" type="submit"><i class="fas fa-plus"></i> Agregar Comentario</button>
            </form>
        <% } %>
        
        <a class="button" href="/evaluaciones">Volver a las evaluaciones</a>
    </div>

    <script>
    </script>
</body>
</html>
