<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Evaluación</title>
    <link rel="stylesheet" href="/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">
</head>
<body>
    <% if (user && user.rol === 'Administrador') { %>
        <nav><%- include('../partials/navbar') %> </nav>
    <% } else if (user && user.rol === 'Evaluador') { %>
        <nav><%- include('../partials/navbarEval') %> </nav>
    <% } else if (user && user.rol === 'Intermediario') { %>
        <nav><%- include('../partials/navbarInter') %> </nav>
    <% } else { %>
        <p>Navbar error</p>
    <% } %> 

    <div class="container">
        <div class="form-container">
            <h2>Nueva Evaluación</h2>

            <!-- Select for Formulario -->
            <div class="form-group">
                <label for="formularioSelect">Seleccionar Formulario:</label>
                <select id="formularioSelect" name="formulario" required>
                    <option value="">--Seleccionar Formulario--</option>
                    <% formularios.forEach(formulario => { %>
                        <option value="<%= formulario._id %>" data-tipo="<%= formulario.tipo %>"><%= formulario.titulo %></option>
                    <% }) %>
                </select>
            </div> 

            <!-- Select for Empleado -->
            <div class="form-group">
                <label for="empleadoSelect">Seleccionar Empleado:</label>
                <select id="empleadoSelect" name="empleado" required>
                    <option value="">--Seleccionar Empleado--</option>
                    <% usuarios.forEach(usuario => { %>
                        <option value="<%= usuario._id %>"><%= usuario.nombre %> <%= usuario.apellido %></option>
                    <% }) %>
                </select>
            </div>

            <!-- Deadline input (shown only for autoevaluacion) -->
            <div id="deadlineContainer" class="form-group" style="display: none;">
                <label for="deadline">Seleccionar Fecha Límite:</label>
                <input type="date" id="deadline" name="deadline">
            </div>

            <!-- Button to submit -->
            <button class="btn-aceptar" type="button" onclick="submitForm()">Aceptar</button>
            <div id="assignToAll" style="display: none;">
                <br>
                <button class="btn-aceptar" type="button" onclick="assignToAll()">Asignar a todos</button>
            </div>
            
        </div>
    </div>

    <script>
        // Show/hide 
        document.getElementById('formularioSelect').addEventListener('change', function () {
            const selectedOption = this.options[this.selectedIndex];
            const tipo = selectedOption.getAttribute('data-tipo')

            const deadlineContainer = document.getElementById('deadlineContainer')
            const assignToAll = document.getElementById('assignToAll')
            if (tipo === 'autoevaluacion') {
                deadlineContainer.style.display = 'block'
                assignToAll.style.display = 'block'
            } else {
                deadlineContainer.style.display = 'none'
                assignToAll.style.display = 'none'
            }
        })

        function submitForm() {
            const formularioId = document.getElementById('formularioSelect').value
            const empleadoId = document.getElementById('empleadoSelect').value
            const deadline = document.getElementById('deadline').value

            const selectedOption = document.getElementById('formularioSelect').options[document.getElementById('formularioSelect').selectedIndex]
            const tipo = selectedOption.getAttribute('data-tipo')

            if (formularioId && empleadoId) {
                if (tipo === 'autoevaluacion') {
                    // Handle autoevaluacion assignment
                    fetch('/evaluaciones/assign-autoevaluacion', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ formularioId, empleadoId, deadline })
                    }).then(response => {
                        if (response.ok) {
                            alert('Autoevaluación asignada correctamente')
                            window.location.href = '/evaluaciones'
                        } else {
                            alert('Error al asignar la autoevaluación')
                        }
                    });
                } else if (tipo === 'evaluacion') {
                    // Handle evaluacion creation and answer redirection
                    fetch('/evaluaciones/create-evaluacion', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ formularioId, empleadoId, deadline })
                    }).then(response => {
                        if (response.redirected) {
                            window.location.href = response.url
                        } else {
                            alert('Error al crear la evaluación')
                        }
                    });
                }
            } else {
                alert("Por favor selecciona un formulario y un empleado.")
            }
        }

        function assignToAll() {
            const formularioId = document.getElementById('formularioSelect').value
            const deadline = document.getElementById('deadline').value

            const selectedOption = document.getElementById('formularioSelect').options[document.getElementById('formularioSelect').selectedIndex]
            const tipo = selectedOption.getAttribute('data-tipo')
            if (!formularioId) {
                alert("Por favor selecciona un formulario.")
                return;
            }

            if (tipo === 'autoevaluacion') {
                if (!deadline) {
                    alert("Por favor selecciona una fecha límite.")
                    return;
                }

                // Send data to the route that assigns autoevaluacion to all active users
                fetch('/evaluaciones/assign-autoevaluacion-to-all', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ formularioId, deadline })
                }).then(response => {
                    if (response.ok) {
                        alert('Autoevaluación asignada a todos los usuarios activos.')
                        window.location.href = '/evaluaciones'
                    } else {
                        alert('Error al asignar la autoevaluación a todos los usuarios.')
                    }
                }).catch(error => {
                    alert('Error al enviar la autoevaluación: ' + error)
                })
            } else {
                alert("Este botón es solo para autoevaluaciones.")
            }
        }

    </script>
</body>
</html>
