<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Evaluación</title>
    <link rel="stylesheet" href="/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://ugc.production.linktr.ee/mj5IciCyRk2puUukygYa_kmwAn8AE84X4N3S5?io=true&size=avatar-v3_0">
</head>
<body>
    <% if (user && user.rol === 'Administrador') { %>
        <nav><%- include('../partials/navbar') %> </nav>
    <% } else if (user && user.rol === 'Evaluador') { %>
        <nav><%- include('../partials/navbarEval') %> </nav>
    <% } else if (user && user.rol === 'Intermediario') { %>
        <nav><%- include('../partials/navbarInter') %> </nav>
    <% } else { %>
        <p>Navbar error</p>
    <% } %> 

    <div class="container">
        <div class="form-container">
            <h2>Nueva Evaluación</h2>

            <!-- Select para seleccionar el formulario -->
            <div class="form-group">
                <label for="formularioSelect">Seleccionar Formulario:</label>
                <select id="formularioSelect" name="formulario" required>
                    <option value="">--Seleccionar Formulario--</option>
                    <% formularios.forEach(formulario => { %>
                        <option value="<%= formulario._id %>"><%= formulario.titulo %></option>
                    <% }) %>
                </select>
            </div> 

            <!-- Select para seleccionar empleado -->
            <div class="form-group">
                <label for="empleadoSelect">Seleccionar Empleado:</label>
                <select id="empleadoSelect" name="empleado" required>
                    <option value="">--Seleccionar Empleado--</option>
                    <% usuarios.forEach(usuario => { %>
                        <option value="<%= usuario.nombre %>+<%= usuario.apellido %>"><%= usuario.nombre %></option>
                    <% }) %>
                </select>
            </div>

            <!-- Botón para aceptar y mostrar las preguntas -->
            <button class="btn-aceptar" type="button" onclick="submitForm()">Aceptar</button>
        </div>
    </div>

    <script>
        function submitForm() {
            const formularioId = document.getElementById('formularioSelect').value;
            const empleado = document.getElementById('empleadoSelect').value;

            if (formularioId && empleado) {
                window.location.href = `/evaluaciones/answer/${formularioId}?empleado=${empleado}`;
            } else {
                alert("Por favor selecciona un formulario y un empleado.");
            }
        }

        document.getElementById('dropdown-toggle').addEventListener('click', function () {
            const dropdownContent = document.getElementById('dropdown-content');
            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
        });
    </script>
</body>
</html>
